/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #dbc8ad;
}

.splash {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.pro-pfp img {
  height: 400px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #3b3b3b9d;
  box-shadow: 0 0px 20px rgb(65, 65, 65);
}

nav {
  display: flex;
  position: sticky;
  padding: 10px;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  background-color: #a69986;
  border-bottom: 1px solid #000000;
}

.navlist {
  display: flex;
  gap: 30px;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  text-decoration: none;
  color: #000000;
}

.navlist li a:hover {
  color: #5c5449;
}

.projects {
  display: flex;
  align-items: center;
  margin: 10px 20px;

}

.slide-container {
  max-width: 80%;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #707070;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #bc9d7f;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #bc9d7f;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #707070;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #8d765f;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #3c3c3c;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #543b1d;
  padding: 8px 16px;
  background-color: #966931;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #737373;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #a5a5a5;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #00000073;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000000;
}

.skill-grid h2 {
  text-align: center;
}

.skill-grid ul {
  list-style-type: none;
  text-align: center;
  padding: 10px 0;
}

.skill-grid ul li {
  display: inline-block;
  padding: 0px 15px;
}

.work {
  margin: 20px 0;
}

.work h2 {
  text-align: center;
  margin: 10px 0;
}
.title-and-date {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.work p {
  text-align: center;
}

.contact {
  margin: 20px 0;
  padding-bottom: 20px;
}

.contact h2 {
  text-align: center;
  margin: 10px 0;
}

.contact-options {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-card {
  background-color: #707070;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0px 10px rgb(65, 65, 65);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  color:rgb(65, 65, 65);
}

.contact-options a {
  text-decoration: none;
  color: inherit;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgb(65, 65, 65);
}


@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}